* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FA8072;
    align-items: center;
}

.container {
    margin-top: 10%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: #800000;
    border-radius: 10px;
    width: 40%;
    padding-bottom: 20px;
}

button {
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-bottom: 20px;
    border-color: deeppink;
}

h1 {
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: #000;
    font-size: 3em;
    color: #f8f8f8;
}

#homer {
    width: 250px;
    display: inline-block;
    position: relative;
    left: -85px;
    top: 15px;
}

#patric {
    position: relative;
    width: 150px;
    display: inline-block;
    margin-left: 43%;
    top: 20px
}